<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UziTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UziTrainer.Properties.Settings>
            <setting name="AssetsHash" serializeAs="String">
                <value />
            </setting>
            <setting name="DollExhausted" serializeAs="String">
                <value>G11</value>
            </setting>
            <setting name="DollLoaded" serializeAs="String">
                <value>M4 SOPMOD II</value>
            </setting>
            <setting name="IsCorpseDragging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedMission" serializeAs="String">
                <value>0_2</value>
            </setting>
            <setting name="NoxTitle" serializeAs="String">
                <value>NoxPlayer</value>
            </setting>
        </UziTrainer.Properties.Settings>
    </userSettings>
</configuration>