<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UziTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UziTrainer.Properties.Settings>
            <setting name="ADB_Path" serializeAs="String">
                <value>C:\tools\adb\adb.exe</value>
            </setting>
            <setting name="Template_File" serializeAs="String">
                <value>templates.json</value>
            </setting>
            <setting name="DollOut" serializeAs="String">
                <value>SOPMOD</value>
            </setting>
            <setting name="DollIn" serializeAs="String">
                <value>HK416</value>
            </setting>
        </UziTrainer.Properties.Settings>
    </userSettings>
</configuration>